{% extends "base.html" %}

{% block title %}Ask a question - Shit Overflow{% endblock %}
{% block title_og %}Ask a public question{% endblock %}
{% block desc_og %}Stack Overflow | The World’s Largest Online Community for Developers{% endblock %}

{% block main %}
    <div class="d-flex justify-content-between pt-3">
        <h4 class="pb-2">Create Question</h4>
    </div>
    <div class="bg-light border rounded p-3 row g-0" id="form_block">

    </div>
    <script src="{{ url_for('src', path='/Thread/CreateThread.js') }}" type="text/babel"></script>
{% endblock %}