{% extends "base.html" %}

{% block title %}Ask a question - Shit Overflow{% endblock %}
{% block title_og %}Ask a public question{% endblock %}
{% block desc_og %}Stack Overflow | The World’s Largest Online Community for Developers{% endblock %}

{% block main %}
<div class="d-flex justify-content-between pt-3">
    <h4 class="pb-3">Create Question</h4>
</div>
<div class="bg-light p-5 rounded">
    <form name="create" method="post">
        <div class="mb-3 form-row">
            <label class="" for="nameField">Name</label>
            <input name="name" type="text" class="form-control" id="nameField" required>
        </div>
        <div class="form-row">
            <label for="titleField">Title</label>
            <input name="title" type="text" class="form-control" id="titleField" placeholder="e.g Как пропатчить KDE2 под FreeBSD" required>
        </div>
        <div class="form-group">
            <label class="pt-4" for="descriptionField">Description</label>
            <textarea name="body" class="form-control" id="descriptionField" rows="4" required></textarea>
        </div>
        <div class="form-row">
            <label class="pt-4" for="tagsField">Tags</label>
            <input name="tags" type="text" class="form-control" id="tagsField" placeholder="python hello-world">
        </div>
        <div class="button pt-4">
            <button type="submit" class="btn btn-primary" formmethod="post">Post your question</button>
        </div>
    </form>
</div>
{% endblock %}