{% extends "base.html" %}

{% block title %}Shit Overflow{% endblock %}
{% block title_og %}Shit Overflow - Where Developers Learn, Share, & Build Careers{% endblock %}
{% block desc_og %}Shit Overflow | The World’s Largest Online Community for Developers{% endblock %}

{% block main %}
<div class="d-flex justify-content-between pt-3">
    <h4>Top Questions</h4>
    <div class="pb-3">
        <button type="button" class="btn btn-primary btn-sm">
            <a class="link-light" href="/questions/ask" style="text-decoration: none;">Ask Question</a>
        </button>
    </div>
</div>
{% for question in questions %}
<div class="question bg-light p-2">

    <div class="row">
        <div class="col counter clickable" onclick="window.location.href='/questions/{{ question.id }}'">
            <div title="{{ question.score }} votes">{{ question.score }}</div>
            <div>votes</div>
        </div>

        <div class="col counter clickable" onclick="window.location.href='/questions/{{ question.id }}'">
            <div title="{{ question.score }} answers">{{ question.answers_count }}</div>
            <div>answers</div>
        </div>

        <div class="col-9">
            <div class="row">
                <h3 class="question-text">
                    <a href="/questions/{{ question.id }}" class="question-hyperlink">{{ question.title }}</a>
                </h3>
            </div>

            <div class="row">
                <div class="col-4">
                    {% if question.tags %}
                    {% for tag in question.tags.split() %}
                    <span class="tag badge text-dark">
                        {{ tag }}
                    </span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="col-8 d-flex flex-row-reverse">
                    <a class="link-dark time-and-author" href="/questions/{{ question.id }}" style="text-decoration: none;">Created at {{ question.created_at.strftime('%H:%M:%S %d.%m.%Y') }} by {{ question.author }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br class="question">
{% endfor %}
<div class="pages">
    <div class="row d-flex justify-content-center">
        {% set max_page = (count / 10)|round(0, 'ceil')|int %}
        <div class="col-auto clickable button-prev">
            <svg class="bi bi-caret-left-fill" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                <a class="{% if page <= 1 %}unclickable{% endif %}" href="/page/{{ page - 1 }}">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"></path>
                </a>
            </svg>
        </div>

        <div class="col-auto page-number unselectable" style="font-size: 18px;">{{ page }}/{{ max_page }}</div>

        <div class="col-auto clickable button-next">
            <svg class="bi bi-caret-right-fill" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 16 16">
                <a class="{% if page >= max_page %}unclickable{% endif %}" href="/page/{{ page + 1 }}">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
                </a>
            </svg>
        </div>
    </div>
</div>
{% endblock %}




