{% extends "base.html" %}

{% block title %}Shit Overflow{% endblock %}
{% block title_og %}Shit Overflow - Where Developers Learn, Share, & Build Careers{% endblock %}
{% block desc_og %}Shit Overflow | The World’s Largest Online Community for Developers{% endblock %}

{% block main %}
<div class="d-flex justify-content-between pt-3">
    <h4>Search Results for "{{ query }}" ({% if count == 0 %}No{% else %}{{ count }}{% endif %} result{% if count != 1 %}s{% endif %})</h4>
    <div class="pb-3">
        <button type="button" class="btn btn-primary btn-sm">
            <a class="link-light" href="/questions/ask" style="text-decoration: none;">Ask Question</a>
        </button>
    </div>
</div>
<div class="questions-block">
    {% for question in questions %}
        <div class="question bg-light border rounded p-3 row g-0" id="question-{{ question.id }}">
            <div class="col counter clickable" onclick="window.location.href='/questions/{{ question.id }}'">
                <div title="{{ question.score }} votes">{{ question.score }}</div>
                <div>votes</div>
            </div>

            <div class="col counter clickable" onclick="window.location.href='/questions/{{ question.id }}'">
                <div title="{{ question.score }} answers">{{ question.answers_count }}</div>
                <div>answers</div>
            </div>

            <div class="col-9">
                <div class="row">
                    <h3 class="question-text">
                        <a href="/questions/{{ question.id }}" class="hyperlink">{{ question.title }}</a>
                    </h3>
                </div>

                <div class="row">
                    <div class="col-4">
                        {% if question.tags %}
                        {% for tag in question.tags.split() %}
                        <span class="tag badge text-dark">
                            {{ tag }}
                        </span>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="col-8 d-flex flex-row-reverse">
                        <a class="link-dark fine-text text-end" href="/questions/{{ question.id }}" style="text-decoration: none;">Created at {{ question.created_at.strftime('%H:%M:%S %d.%m.%Y') }} UTC by {{ question.author }}</a>
                    </div>
                </div>
            </div>
        </div>
    <br class="question">
    {% endfor %}
</div>
<div class="pages">
    <div class="row d-flex justify-content-center">
        {% set max_page = (count / 10)|round(0, 'ceil')|int %}
        {% if max_page == 0 %}{% set page = 0 %}{% endif %}
        {% set page_min = page - 4 %}
        {% set page_max = page + 4 %}
        <ul class="col-auto pagination">
            <li class="{% if page <= 1 %}disabled{% endif %} page-item">
                <a class="page-link" href="/search?q={{ query }}&page={{ page - 1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page_num in range(1, max_page + 1) %}
                {% if (page_max > page_num > page_min) or (page_num == max_page)  or (page_num == 1) %}
                    <li class="{% if page == page_num %}active unclickable{% endif %} page-item"><a class="page-link" href="/search?q={{ query }}&page={{ page_num }}">{{ page_num }}</a></li>
                {% elif page_num == page_max or page_num == page_min %}
                    <li class="page-item disabled"><a class="page-link" href=""><span aria-hidden="true">...</span></a></li>
                {% else %}
                {% endif %}
            {% endfor %}
            <li class="{% if page >= max_page %}disabled{% endif %} page-item">
                <a class="page-link" href="/search?q={{ query }}&page={{ page + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}




